# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Memory captures
[Mm]emoryCaptures/

# Recordings
[Rr]ecordings/

# IDE files
.vs/
.vscode/
.idea/

# Visual Studio / Rider generated
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS files
.DS_Store
Thumbs.db

# Unity crash reports
sysinfo.txt

# Unity temporary files
*.tmp
*.temp


.vscode
docs/